.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px red;
    font-family:'Courier New', Courier, monospace;
  }
  
  .card :hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  }

  .image {
    float: center;
    width:  290px;
    height: 190px;
    object-fit: cover;
  }

  .delete {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer
  }

  .search {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
  }

  .search :hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  }

  .form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
  }

  .form :hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  }
  
  .add-item {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }

  .add-item :hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  }

  .name-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
  }

  .description-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
  }
  
  .ingredients-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
  }

  .url-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
  }

  .price-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
  }

  .adams-git {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer
  }

  .adams-linked {
    background-color: red;
    border: 5px;
    border-color: black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer
  }

  .sorens-git {
    background-color: red;
    border: 5px;
    border-color: black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer
  }

  .sorens-linked {
    background-color: red;
    border: 5px;
    border-color: black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer
  }

  .matts-git {
    background-color: red;
    border: 5px;
    border-color: black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer
  }

  .matts-linked {
    background-color: red;
    border: 5px;
    border-color: black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer
  }

  .nav {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
    text-align: center;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
  }

  .links {
    list-style-type: none;
    font-family:'Courier New', Courier, monospace;
  }

  .welcome {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
    text-align: center;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
  }